* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #2d2d2d;
}

body {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-family: 'Reem Kufi', sans-serif;
}

a {
    text-decoration: none;
}

.main_header {
    position: fixed;
    height: auto;
    width: 100%;
    background-color: #2d2d2d;
    border-bottom: 3px solid #9E9E9E;
    text-align: center;
    padding: 30px 0;
}

.main_header h1 {
    display: inline-block;
    color: #9E9E9E;
    font-family: 'Lobster', cursive;
    font-size: 3em;
    border: 3px solid #9E9E9E;
    margin: 0 auto;
    padding: 2px 10px;
}

.content {
    padding-top: 122px;
}

.book_recommendation_form {
    background-color: #9E9E9E;
    font-family: 'Reem Kufi', sans-serif;
    padding: 50px 20px;
    text-align: center;
}

.book_recommendation_form p {
    width: 80%;
    margin: 0 auto 30px auto;
    display: block;
    font-size: 1.3em;
    color: #2d2d2d;
}

p.input-prompt{
    margin-top: 60px;
}

.book_recommendation_form input,
.book_recommendation_form button {
    display: block;
    margin: 0 auto 15px auto;
    width: 90%;
    font-size: 1.2em;
    padding: 3px;
    border: 3px solid rgba(#2d2d2d, 0.7);
    border-radius: 5px;
}

.book_recommendation_form button{
    width: 200px;
}

.book_recommendation_form input:focus,
.book_recommendation_form button:active,
.book_recommendation_form button:focus,
.buy_button:active,
.buy_button:focus {
    outline: none;
    border-color: #2d2d2d;
}

.book_recommendation_form button {
    background-color: #00B0FF;
    color: #ffffff;
}

.recommendations {
    background-color: #0091EA;
    text-align: center;
    color: #ffffff;
}

.recommendations a {
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

.item_wrapper:nth-child(2n+2) {
    background-color: #9E9E9E;
    color: #2d2d2d;
}

.item_wrapper {
    border-bottom: 3px solid #9E9E9E;
    padding: 15px;
}

.recommendation_header {
    margin: 10px auto;
}

.thumbnail_section,
.book_information_section,
.book_description_section {
    margin-bottom: 15px;
}

.thumbnail_section img {
    display: block;
    width: 40%;
    margin: 20px auto 5px auto;
}

.buy_button {
    display: block;
    font-size: 1em;
    width: 40%;
    background-color: #00B0FF;
    padding: 2px;
    border: 2px solid rgba(#2d2d2d, 0.7);
    border-radius: 5px;
    margin: 5px auto 0 auto;
}

.book_description_section {
    font-family: 'PT Serif', serif;
    line-height: 1.5em;
    text-align: justify;
    padding: 10px 40px;
}

.error {
    font-size: 1.3em;
    padding: 20px 10px;
}

.hidden {
    display: none;
}

footer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    vertical-align: center;
    font-size: 1em;
    background-color: #2d2d2d;
    color: #9E9E9E;
    border-top: 3px solid #9E9E9E;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0px;
}

@media only screen and (min-width: 480px) {
    .book_recommendation_form input{
        width: 80%;
    }
}

@media only screen and (min-width: 768px) {
    .content {
        padding-top: 152px;
    }

  .main_header h1 {
      display: table;
      color: #9E9E9E;
      font-family: 'Lobster', cursive;
      font-size: 4em;
      border: 3px solid #9E9E9E;
      margin: 0 auto;
      padding: 2px 10px;
  }

    .book_recommendation_form input{
        width: 70%;
    }
    .item_wrapper {
        overflow: hidden;
    }
    .thumbnail_section {
        float: left;
        width: 50%;
        margin-right: -10%;
    }
    .thumbnail_section:before,
    .thumbnail_section:after {
        display: table;
        content: "";
        clear: both;
    }
    .book_information_section {
        margin-top: 50px;
        line-height: 1.5em;
    }
}

@media only screen and (min-width: 1024px) {
    .book_recommendation_form input{
        width: 60%;
    }
}
